<h2>Edit post</h2>

<%= link "← Back", to: post_path(@conn, :index) %>
<%= render "form.html", conn: @conn,
                        post: @post,
                        changeset: @changeset,
                        action: post_path(@conn, :update, @post) %>

