<%= link "← Back", to: post_path(@conn, :index) %>
&nbsp;|
<%= link "Edit", to: post_path(@conn, :edit, @post) %>

<div class="jumbotron">
  <h2><%= @post.title %></h2>
  <h5>By <%= @post.author %></h5>
  <strong>Reads:</strong>
  <%= @post.reads %>
  <strong>Likes:</strong>
  <span id="like-counter"><%= @post.likes %></span>
</div>
<div>
  <button class="btn btn-info" data-post-id="<%= @post.id %>" id="like-button">&#128077;</button>
  <%= as_html(@post.content) %>
</div>

<script src="<%= static_path(@conn, "/js/show.js") %>"></script>
<script>
  const likeUrl = "<%= post_path(@conn, :like_post, @post.id) %>";
</script>
