/* This file is for your main application css. */
html {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.list-item-container {
  padding: 1em;
  margin-top: 0.5em;
  border: 1px solid #f69f84;
  border-radius: 3px;
  background: #eff7fb;
}
