<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>Page Not Found</h1>
    <img src="https://media4.giphy.com/media/g0amAdejYOeZO/giphy.gif" width="100%" />
  </body>
</html>

